# ----------------------------------------------------------------------------
# Access URL for the local server
# ----------------------------------------------------------------------------
TEST_URL=https://localhost:3344

# ----------------------------------------------------------------------------
# Playwright settings
# ----------------------------------------------------------------------------
PLAYWRIGHT_REPORTERS=list,odhin
PLAYWRIGHT_VIDEO_MODE=retain-on-failure

# Set ENV=preview to limit the functional tests to Edge
# ENV=preview

# ----------------------------------------------------------------------------
# API Marketplace backend
# ----------------------------------------------------------------------------
API_URL=http://localhost:8080
