{% extends "template.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = subscription.apiTitle + " - " + application.name + " - HMCTS API Marketplace - GOV.UK" %}
{% set section = "applications" %}
{% set breadcrumbs = [
  { text: "Home", href: "/" },
  { text: "Manage applications", href: "/account/applications" },
  { text: application.name, href: "/account/applications/" + application.id }
] %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ application.name }}</span>
    <h1 class="govuk-heading-xl">{{ subscription.apiTitle }}</h1>

    {% include "components/simulated-credentials.njk" %}

    {{ govukSummaryList({
      rows: [
        { key: { text: "API" }, value: { html: '<a class="govuk-link" href="/api-catalogue/' + subscription.apiName + '">' + (subscription.apiTitle | escape) + '</a>' } },
        { key: { text: "Publisher ID" }, value: { html: '<span class="apim-credential" id="publisher-id">' + subscription.publisherId + '</span>' } },
        { key: { text: "Subscribed" }, value: { text: subscription.subscribedAt | date } }
      ]
    }) }}

    {% set keyHtml %}
      <p class="govuk-body apim-credential govuk-!-font-weight-bold" id="subscription-key">{{ subscription.subscriptionKey }}</p>
      <p class="govuk-body">Send it in the <code>Ocp-Apim-Subscription-Key</code> header with every call to this API. Keep it secret.</p>
    {% endset %}
    {{ govukDetails({ summaryText: "Show subscription key", html: keyHtml, attributes: { id: "show-subscription-key" } }) }}

    <p class="govuk-body"><a class="govuk-link" href="/account/applications/{{ application.id }}">Back to {{ application.name }}</a></p>
  </div>
</div>
{% endblock %}
