{% extends "template.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Regenerate client secret - HMCTS API Marketplace - GOV.UK" %}
{% set section = "applications" %}
{% set breadcrumbs = [
  { text: "Home", href: "/" },
  { text: "Manage applications", href: "/account/applications" },
  { text: application.name, href: "/account/applications/" + application.id }
] %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ application.name }}</span>
    <h1 class="govuk-heading-xl">Regenerate client secret</h1>

    <p class="govuk-body">The current secret is <span class="apim-credential">{{ maskedSecret }}</span>.</p>

    {{ govukWarningText({
      text: "The current secret will stop working straight away. Update your software with the new secret as soon as you have it.",
      iconFallbackText: "Warning"
    }) }}

    <form method="post" action="/account/applications/{{ application.id }}/client-secret" novalidate>
      <div class="govuk-button-group">
        {{ govukButton({ text: "Regenerate client secret", classes: "govuk-button--warning", attributes: { id: "confirm-regenerate" } }) }}
        <a class="govuk-link" href="/account/applications/{{ application.id }}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
