{% extends "template.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "New client secret - HMCTS API Marketplace - GOV.UK" %}
{% set section = "applications" %}
{% set hideBackLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({ titleText: "Client secret regenerated" }) }}

    {% include "components/simulated-credentials.njk" %}
    {% include "applications/secret-once.njk" %}

    {{ govukButton({ text: "Back to " + application.name, href: "/account/applications/" + application.id, attributes: { id: "back-to-application" } }) }}
  </div>
</div>
{% endblock %}
