{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  text: "Copy your client secret now. You will not be able to see it again.",
  iconFallbackText: "Warning"
}) }}
<p class="govuk-body govuk-!-margin-bottom-1" id="client-secret-label">Client secret</p>
<p class="govuk-body govuk-!-font-weight-bold apim-credential" id="client-secret" aria-labelledby="client-secret-label">{{ clientSecret }}</p>
