{% extends "template.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Application created - HMCTS API Marketplace - GOV.UK" %}
{% set section = "applications" %}
{% set hideBackLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Application created",
      html: "Application name<br><strong id=\"created-name\">" + (application.name | escape) + "</strong>"
    }) }}

    {% include "components/simulated-credentials.njk" %}

    <h2 class="govuk-heading-m">Authorisation details</h2>

    {{ govukSummaryList({
      rows: [{ key: { text: "Client ID" }, value: { html: '<span class="apim-credential" id="client-id">' + application.clientId + '</span>' } }]
    }) }}

    {% include "applications/secret-once.njk" %}

    <h2 class="govuk-heading-m">Subscription keys</h2>
    <p class="govuk-body">Send the subscription key for an API in the <code>Ocp-Apim-Subscription-Key</code> header with every call to it.</p>

    {% set keyRows = [] %}
    {% for api in application.apis %}
      {% set keyRows = (keyRows.push({
        key: { text: api.apiTitle },
        value: { html: 'Publisher ID: <span class="apim-credential">' + api.publisherId + '</span><br>Subscription key: <span class="apim-credential">' + api.subscriptionKey + '</span>' }
      }), keyRows) %}
    {% endfor %}
    {{ govukSummaryList({ rows: keyRows, attributes: { id: "subscription-keys" } }) }}

    {{ govukButton({ text: "View application", href: "/account/applications/" + application.id, attributes: { id: "view-application" } }) }}
    <p class="govuk-body"><a class="govuk-link" href="/account/applications">Back to your applications</a></p>
  </div>
</div>
{% endblock %}
