{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% set hideBackLink = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>
      <p class="govuk-body-l">{{ lede }}</p>

      {{ govukButton({
        text: startButton if user else signInButton,
        href: "/subscribe" if user else "/sign-in",
        isStartButton: true,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
    </div>
  </div>

  {# Both cards lead to journeys that need an account, so they wait until there is one. #}
  <div class="govuk-grid-row">
    {% for card in (cards if user else []) %}
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">
          <a class="govuk-link" href="{{ card.href }}">{{ card.heading }}</a>
        </h2>
        <p class="govuk-body">{{ card.body }}</p>
      </div>
    {% endfor %}
  </div>

{% endblock %}
