{% extends "template.njk" %}

{% set pageTitle = "Submission received - HMCTS API Marketplace - GOV.UK" %}
{% set section = "publish" %}
{% set breadcrumbs = [{ text: breadcrumb.home, href: "/" }] %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Submission received",
      html: "Reference number<br><strong id=\"confirmation-reference\">" + reference + "</strong>"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      The marketplace team reviews your submission. You can track its status on
      <a class="govuk-link" href="/account">your requests list</a>.
    </p>

  </div>
</div>

{% endblock %}
