{% extends "template.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = "Production credentials request " + request.reference + " - HMCTS API Marketplace - GOV.UK" %}
{% set section = "account" %}
{% set breadcrumbs = [
  { text: "Home", href: "/" },
  { text: "Your account", href: "/account" }
] %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Production credentials request</span>
    <h1 class="govuk-heading-xl">{{ request.reference }}</h1>

    <p class="govuk-body">
      Status: {{ govukTag({ text: status, classes: "govuk-tag--blue", attributes: { id: "request-status" } }) }}
      <br>Submitted {{ request.submittedAt | date }}
    </p>

    {% set summaryRows = [] %}
    {% for row in request.rows %}
      {% set summaryRows = (summaryRows.push({ key: { text: row.key }, value: { text: row.value } }), summaryRows) %}
    {% endfor %}
    {{ govukSummaryList({ rows: summaryRows }) }}

    <h2 class="govuk-heading-m">What the statuses mean</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Submitted</dt><dd class="govuk-summary-list__value">We have your request and will review it.</dd></div>
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">In review</dt><dd class="govuk-summary-list__value">The marketplace team is reviewing it.</dd></div>
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">More information needed</dt><dd class="govuk-summary-list__value">We have emailed you with questions.</dd></div>
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Approved</dt><dd class="govuk-summary-list__value">Your credentials have been created and shared with you.</dd></div>
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Declined</dt><dd class="govuk-summary-list__value">We have emailed you the reason.</dd></div>
    </dl>

    <p class="govuk-body"><a class="govuk-link" href="/account#tab-requests">Back to My requests</a></p>
  </div>
</div>
{% endblock %}
