{% extends "template.njk" %}

{% set pageTitle = "Submission received - HMCTS API Marketplace - GOV.UK" %}
{% set section = "publish" %}
{% set breadcrumbs = [
  { text: breadcrumb.home, href: "/" },
  { text: breadcrumb.publish, href: "/publish" }
] %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Submission received",
      html: "Reference number<br><strong id=\"confirmation-reference\">" + reference + "</strong>"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      The marketplace team reviews your submission. You can track its status on
      <a class="govuk-link" href="/account#tab-requests">your requests list</a>.
    </p>

    <h2 class="govuk-heading-m">Before you go</h2>

    <p class="govuk-body">
      This service is in beta. If anything in this journey was confusing or looked wrong,
      <a class="govuk-link" href="/help">telling us</a> is the most useful thing you can do next.
    </p>

  </div>
</div>

{% endblock %}
