{% extends "template.njk" %}

{% set pageTitle = "Check your email - HMCTS API Marketplace - GOV.UK" %}
{% set section = "account" %}
{% set hideBackLink = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Check your email</h1>

    <p class="govuk-body">We have sent an email to <strong id="sent-to">{{ address }}</strong>.</p>

    <p class="govuk-body">Use the link in the email to confirm your address and finish creating your account. The link expires in 24 hours.</p>

    {% include "components/email-preview.njk" %}

    <h2 class="govuk-heading-m">If you do not get an email</h2>

    <p class="govuk-body">
      Check your spam or junk folder. If it is not there,
      <a class="govuk-link" href="/verify-email/resend">send the confirmation email again</a> or
      <a class="govuk-link" href="/register">check the email address you entered</a>.
    </p>

  </div>
</div>

{% endblock %}
